@font-face {
    src: url(../font/Roboto-Regular.ttf);
      font-family: Roboto;
}
.navbar-light .navbar-nav .nav-link {
    color: #F5F1F1;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 300;
    margin-top: 30px;
    left: 1182px;
    height: 23px;
    }

.logo{
    margin-top: 30px;
    left: 100px;
    width: 145px;
    height: 31px;

}
.Part-one{
    position: relative;
}

.con{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 700px;
   
    
}
#particles-js{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #373B5E 0% 0% no-repeat padding-box;

}

.content1{
    margin-top: 190px;
    margin-left: 10%;
    
   }

h2{
    font-size: 70px;
    color: #F5F1F1;
    font-family: Poppins;
    font-weight: 600;
}
h6{
    font-size: 18px;
    font-family: Poppins;
    font-weight: 200;
    margin-top: 20px;
    line-height: 30px;
    color: #F5F1F1;
  
}
.strike{
    display: flex;
}
.stroke{
    margin-top: 90%;
    margin-right: 20px;
}
h4{
    color:#090707;
    margin-left: 3%;
    margin-top: 100px;
    font-size: 22px;
}
.sec{
    margin-left: 2%;
    margin-top: 31px;
}
.ser1{
    margin-top:25px;
    color:#000000;
    font-size: 18px;
    font-weight: 500;
}

.sec1{
    position: relative;
    width: 100%;
    height: 600px;
    background: #373B5E 0% 0% no-repeat padding-box;
}
.sec12{
    width: 800px;
    height: 515px;
    background: transparent;
    position: relative;
    margin: auto;
}
#cen-img{
    position: absolute;
    right: 0;
}
#cen-img1{
    margin-top: 80px;
    
}
#small-cont{
    width: 400px;
    height: 286px;
    position: absolute;
    background: #373B5E 0% 0% no-repeat padding-box;
    z-index: 20;
    bottom: 0;
}
h5{
    left: 280px;
}
.AboutShab{
    position:unset;
    color: #F5F1F1;
}

.AboutShab2{
    color: #F5F1F1;
}

#text2{
    color: #F5F1F1;
}

.sec2{
    position: relative;
    width: 100%;
    height: 557px;
    background: #373B5E 0% 0% no-repeat padding-box;
}
#circle{
    position: absolute;
    left: 10px;
   

}
.sec22{
    width: 90%;
    background: transparent;
    height: 100%;
}

.talk{
    position: absolute;
    left: 230px;
}
h1{

    position: absolute;
    left: 360px;
    top: 50px;
    color: #F5F1F1;
    font-size: 70px;
    font-family: Poppins;
    font-weight: 400;

}
.reach{
    position: absolute;
    left: 360px;
    top: 269px;
    color: #F5F1F1;
    font-size: 20px;
    font-family: Poppins;
}
#us{
    position: absolute;
    left: 360px;
    top: 347px;
    font-size: 22px;
    font-family: Poppins;
    color: #F5F1F1;
}
.circle-1{
    position: absolute;
    top: 334px;
    left: 360px;
   
}
.fifth{
    position: relative;
}
.pers{
    position:absolute;
    left: 54px;
    
    font-size: 14px;
    font-family: Poppins;
}
.foot{
    margin-top: 100px;
    width: 100%;
    height: 234px;
    background: #373B5E 0% 0% no-repeat padding-box;
}
.logofooter{
    left: 100px;
    width: 145px;
    height: 31px;
}
.foottext{
    margin-top: 70px;
    color: #F5F1F1;
    font-size: 14px;
    font-family: poppins;
}
.footdetails{
    font-size: 13px;
    font-family: poppins;
    color: #f5f1f1;
    font-weight: 100;

}
.right{
    text-align: right;
}
.first{
    width: 476px;
    height: 650px;
    background: #373B5E 0% 0% no-repeat padding-box;

}
.second{
    left: 476px;
    width: 890px;
    height: 650px;
    background: #FEFEFE 0% 0% no-repeat padding-box;
    
}
.row{
    margin: 0px;
}
.contact{
    position: absolute;
    top: 130px;
    left: 20%;
    width: 50%;
    height: 400px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #00000029;
    z-index: 1;
}
.contac{
    position: relative;
}
.contimg{
    top: 40px;
    left: 100px;
    width: 145px;
    height: 31px;
    margin-top: 40px;
    margin-left: 50px;
}
#textcontact{
    color: #F5F1F1;
    margin-top: 20px;
    margin-left: 50px;
    font: Regular 16px/25px Poppins;
}
.contform{
    margin-left: 5%;
    margin-top: 40px;
}
h3{
    margin-left: 40%;
    margin-top: 5%;
    margin-bottom: 4%;
}
.contactbutton{
    margin-top: 10px;
    margin-left: 2%;
    color: #373B5E;
}
.btn{
    color: #373B5E;
}

/* media quere style */

@media screen and (max-width: 992px) {
    
.con{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 800px;
   
    
}

.contact{
    position: absolute;
    top: 130px;
    left: 20%;
    width: 50%;
    height: 400px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #00000029;
    z-index: 1;
}

  }
  
  /* On screens that are 600px wide or less, the background color is olive */
  @media screen and (max-width: 600px) {
    .con{
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 900px;
       
        
    }
  }
  @media screen and (max-width: 576.89px) {
    .con{
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 800px;
    }

    h2{
        font-size: 50px;
        color: #F5F1F1;
        font-family: Poppins;
        font-weight: 400;
    }
  
  } 

  