@font-face {
    src: url(../font/Roboto-Regular.ttf);
      font-family: Roboto;
}
.navbar-light .navbar-nav .nav-link {
    color: #F5F1F1;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 300;
    margin-top: 30px;
    left: 1182px;
    height: 23px;
    }

.logo{
    margin-top: 30px;
    left: 100px;
    width: 145px;
    height: 31px;

}
.Part-one{
    position: relative;
}

.con{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 700px;
   
    
}
#particles-js{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 700px;
    background: #373B5E 0% 0% no-repeat padding-box;

}

.content1{
    margin-top: 190px;
    margin-left: 10%;
    
   }

h2{
    font-size: 70px;
    color: #F5F1F1;
    font-family: Poppins;
    font-weight: 600;
}
h6{
    font-size: 18px;
    font-family: Poppins;
    font-weight: 200;
    margin-top: 20px;
    line-height: 30px;
    color: #F5F1F1;
  
}
.strike{
    display: flex;
}
.stroke{
    margin-top: 90%;
    margin-right: 20px;
}
h4{
    color:#090707;
    margin-left: 3%;
    margin-top: 100px;
    font-size: 22px;
}
.sec{
    margin-left: 2%;
    margin-top: 31px;
}
.ser1{
    margin-top:25px;
    color:#000000;
    font-size: 18px;
    font-weight: 500;
}

.sec1{
    position: relative;
    /*margin-top: 120px;*/
    width: 100%;
    height: 600px;
    background: #373B5E 0% 0% no-repeat padding-box;
}
#cen-img{
    margin-top: 120px;
    margin-left: 468px;
}
#cen-img1{
    margin-top: 80px;
    
}
#small-cont{
    margin-left: 394px;
    left: 394px;
    width: 254px;
    height: 286px;
    position: absolute;
    top: 230px;
    left: 0px;
    background: #373B5E 0% 0% no-repeat padding-box;
}
h5{
    position:absolute;
    left: 240px;
    top: 130px;
    color: #F5F1F1;
}
#AboutShab{
    position:absolute;
    left: 280px;
    color: #F5F1F1;
    top: 300px;
}
#text2{
    position:absolute;
    left: 280px;
    color: #F5F1F1;
    top: 406px;
}
.sec2{
    position: relative;
    width: 100%;
    height: 557px;
    background: #373B5E 0% 0% no-repeat padding-box;
}
#circle{
    position: absolute;
    left: 10px;
   

}

.talk{
    position: absolute;
    left: 230px;
}
h1{

    position: absolute;
    left: 360px;
    top: 50px;
    color: #F5F1F1;
    font-size: 70px;
    font-family: Poppins;
    font-weight: 400;

}
.reach{
    position: absolute;
    left: 360px;
    top: 269px;
    color: #F5F1F1;
    font-size: 20px;
    font-family: Poppins;
}
#us{
    position: absolute;
    left: 360px;
    top: 347px;
    font-size: 22px;
    font-family: Poppins;
    color: #F5F1F1;
}
.circle-1{
    position: absolute;
    top: 334px;
    left: 360px;
   
}
.fifth{
    position: relative;
}
.pers{
    position:absolute;
    left: 54px;
    
    font-size: 14px;
    font-family: Poppins;
}
.foot{
    margin-top: 100px;
    width: 100%;
    height: 234px;
    background: #373B5E 0% 0% no-repeat padding-box;
}
.logofooter{
    left: 100px;
    width: 145px;
    height: 31px;
}
.foottext{
    margin-top: 70px;
    color: #F5F1F1;
    font-size: 14px;
    font-family: poppins;
}
.footdetails{
    font-size: 13px;
    font-family: poppins;
    color: #f5f1f1;
    font-weight: 100;

}
.right{
    text-align: right;
}
.first{
    width: 476px;
    height: 720px;
    background: #373B5E 0% 0% no-repeat padding-box;

}
.second{
    left: 476px;
    width: 890px;
    height: 720px;
    background: #FEFEFE 0% 0% no-repeat padding-box;
    
}
.row{
    margin: 0px;
}
.contact{
    position: absolute;
    top: 150px;
    left: 283px;
    width: 800px;
    height: 500px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #00000029;
    z-index: 1;
}
.contac{
    position: relative;
}